In [89]:
import pandas as pd
df = pd.read_csv('data/uncleaned_crop_data.csv')

In [90]:
print(df.head())

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [91]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB
None

In [92]:
print(df.describe())

                 N            P            K  temperature     humidity  \
count  2200.000000  2200.000000  2200.000000  2200.000000  2200.000000
mean     50.551818    53.362727    48.149091    25.616244    71.481779
std      36.917334    32.985883    50.647931     5.063749    22.263812
min       0.000000     5.000000     5.000000     8.825675    14.258040
25%      21.000000    28.000000    20.000000    22.769375    60.261953
50%      37.000000    51.000000    32.000000    25.598693    80.473146
75%      84.250000    68.000000    49.000000    28.561654    89.948771
max     140.000000   145.000000   205.000000    43.675493    99.981876

                ph     rainfall
count  2200.000000  2200.000000
mean      6.469480   103.463655
std       0.773938    54.958389
min       3.504752    20.211267
25%       5.971693    64.551686
50%       6.425045    94.867624
75%       6.923643   124.267508
max       9.935091   298.560117

In [93]:
df = df.drop(['N', 'P','K','humidity'], axis=1)

In [94]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temperature  2200 non-null   float64
 1   ph           2200 non-null   float64
 2   rainfall     2200 non-null   float64
 3   label        2200 non-null   object
dtypes: float64(3), object(1)
memory usage: 68.9+ KB
None

In [95]:
num_rows_with_missing = df.isnull().any(axis=1).sum()
print(f"Number of rows with missing values: {num_rows_with_missing}")

Number of rows with missing values: 0

In [96]:
print(df.shape[0])

2200

In [97]:
df = df.rename(columns={'label': 'crop'})
df = df.rename(columns={'ph': 'soil_ph'})
df = df.rename(columns={'temperature': 'temp'})

In [98]:
df.to_csv('data/crop_data.csv', index=False)

In [113]:
print(df.shape[0])
print(df.info())

2200
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   temp      2200 non-null   float64
 1   soil_ph   2200 non-null   float64
 2   rainfall  2200 non-null   float64
 3   crop      2200 non-null   object
dtypes: float64(3), object(1)
memory usage: 68.9+ KB
None